@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Sistema de cadastro de Alunos</h2>
    <!--   asp-append-version="true"   esse atributo serve para evitar o armazenameto da imagem em cacche da imagem -->
    <img src="./imagens/alunos.jpg" alt="Alunos"  width="400" height="300" asp-append-version="true" />
</div>
